.background{
    padding: 20px 30px;
    background-color: #f6f2f2;
}

.card{
    padding: 20px 40px;
    margin: 10px 10px;
}

.label {
    color: #5c5c5c;
    font-size: 18px;
  }

  .deleteAcc.deleteAcc {
    background-color: #f57373;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    margin: 10px 5px 0px 0px;
  }
  
  .deleteAcc.deleteAcc:hover {
    background-color: #e25c5c;
  }