.label {
  color: #5c5c5c;
  font-size: 20px;
}

.signInBtn.signInBtn {
  background-color: #008080;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.signInBtn.signInBtn:hover {
  background-color: #036868;
}

.cancel.cancel {
  border: 2px solid #008080;
  padding: 5px 20px;
  border-radius: 5px;
  color: #008080;
  margin-left: 20px;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.canceldanger.canceldanger {
  border: 2px solid #f57373;
  padding: 5px 20px;
  border-radius: 5px;
  color: #f57373;
  margin-left: 20px;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.deleteAcc.deleteAcc {
  background-color: #f57373;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  margin: 10px 5px 0px 0px;
}

.deleteAcc.deleteAcc:hover {
  background-color: #e25c5c;
}

.txtfield {
  background-color: #ebf6f7;
  width: 100%;
}

.descText {
  color: #5c5c5c;
  font-size: 18px;
}

.descText2.descText2 {
  color: #5c5c5c;
  font-weight: 800;
  font-size: 20px;
}

.modalTextField.modalTextField {
  background-color: #ebf6f7;
  width: 100%;
  margin-top: 10px;
}

.removeBtn{
  color: #f57373;
  border: 2px solid #f57373;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.removeBtn:hover{
  color: white;
  background-color: #f57373;
}
