.label {
  color: #5c5c5c;
  font-size: 20px;
}

.signInBtn.signInBtn {
  background-color: #008080;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.signInBtn.signInBtn:hover {
  background-color: #036868;
}

.txtfield{
  background-color: #ebf6f7;
  width: 100%;
}