@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import "./constants.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primaryFont !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont !important;
}

.title-font {
  line-height: 40px;
  font-weight: 400;
}

.f-48 {
  font-size: 48px;
}
.f-32 {
  font-size: 32px;
}
.f-24 {
  font-size: 24px;
}
.f-20 {
  font-size: 20px;
}
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}
.f-12 {
  font-size: 12px;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorDisabled {
  cursor: not-allowed !important;
}

#calendarComponent {
  .fc-day-today {
    background-color: #4caf50 !important;
  }
}

.fc-day-today {
  background-color: #fff59c !important;
}

.authorizedContainer{
  height: 100%;
  overflow: hidden;
  .sideNavigation{
    @include transition(ease all 0.4s);
    max-width: 280px;
    z-index: 999;
    &.collapsed{
      @include transition(ease all 0.4s);
      max-width: 50px;
    }
    .navBar{
      position: relative;
      background: $primary;
      background: linear-gradient(0deg, rgba(12,84,193,1) 0%, rgba(0,102,255,1) 100%);
      max-width: 50px;
      padding: 16px 4px;
      border-right: 1px solid #0f4da9;
      .menuBox{
        @include transition(ease all 0.4s);
        margin: 8px;
        cursor: pointer;
        .menuIcon{
          display: inline-block;
          width: 25px;
          cursor: pointer;
          span{
            @include transition(ease all 0.4s);
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            margin: 9px 0;
            background: white;
            &::before{
              @include transition(ease all 0.4s);
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: -9px;
              background: white;
            }
            &::after{
              @include transition(ease all 0.4s);
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 9px;
              background: white;
            }
          }
        }
        &:hover{
          @include transition(ease all 0.4s);
          .menuIcon{
            span{
             @include transition(ease all 0.4s);
             background: rgba(255,255,255,0);
              &::before{
                @include transition(ease all 0.4s);
                width: 50%;
                transform: rotate(-45deg);
                top: -4px;
              }
              &::after{
                @include transition(ease all 0.4s);
                width: 50%;
                transform: rotate(45deg);
                top: 4px;
              }
            }
          }
        }
        &.collapsed{
          @include transition(ease all 0.4s);
          transform: rotate(-360deg);
          .menuIcon{
            span{
              background: rgba(255,255,255,0);
              &::before{
                width: 60%;
                transform: rotate(45deg);
                top: -4px;
              }
              &::after{
                width: 60%;
                transform: rotate(-45deg);
                top: 6px;
              }
            }
          }
        }
      }
      .logo{
        padding: 0 7px;
        margin-bottom: 14px;
      }
      .profile{
        position: absolute;
        bottom: 16px;
        left: 0;
        padding: 9px;
        width: 100%;
        .infoCircle{
          background: white;
          color: $primary;
          font-size: 14px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          font-weight: 700;
        }
        .infoMenu{
          background: white;
          padding:11px;
          position: absolute;
          left: 100%;
          bottom: 0;
          display: none;
          border-radius: 5px;
          border: 1px solid rgba(0,0,0,0.1);
          min-width: 240px;
          z-index: 9;
          .name{
            text-transform: uppercase;
            color: $gray;
            font-size: 14px;
            margin: 0;
          }
          .email{
            display: block;
            color: $gray;
            font-size: 14px;
            padding-bottom: 4px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            margin-bottom: 12px;
          }
          a{
            @include transition(ease all 0.4s);
            text-decoration: none;
            display: block;
            padding: 7px 4px;
            &.signOut{
              color: $red;
              border-top: 1px solid rgba(0,0,0,0.1);
            }
            &:hover{
              @include transition(ease all 0.4s);
              background: #f4f4f4;
            }
          }
        }
        &:hover{
          .infoMenu{
            display: block;
            box-shadow: 2px 2px 7px rgba(0,0,0,0.1);
            z-index: 99;
          }
        }
      }
    }
    .navBarContent{
      @include transition(ease all 0.4s);
      position: relative;
      background: #f4f4f4;
      border-right: 1px solid #cccccc;
      box-shadow: 3px 2px 10px rgba(0,0,0,0.1);
      padding: 16px;
      opacity: 1;
      max-width: 230px;
      &.collapsed{
        @include transition(ease all 0.4s);
        opacity: 0;
        overflow: hidden;
        max-width: 0;
        padding: 16px 0;
      }
      .contentGroup{
        .logo{
          padding: 14px 0 0;
          max-width: 100px;
        }
        h1{
          margin: 2px 0 26px;
          color: #005792;
          font-size: 22px;
          white-space: nowrap
        }
        .navLink{
          @include transition(ease all 0.4s);
          text-decoration: none;
          display: block;
          padding: 11px 0;
          border-bottom: 1px solid #cccccc;
          color: black;
          .material-icons-outlined, .material-icons{
            margin-right: 7px;
            vertical-align: middle;
            color: $primary;
          }
          &:hover{
            @include transition(ease all 0.4s);
            background: rgba(0,0,0,0.03);
          }
        }
      }
    }
  }
  .content{
    padding: 12px;
    overflow: scroll;
  }

}

